<ion-view title="watching channnel {{channelName}}">
    <ion-content class="padding">
        <div>
            <img src="img/{{channelName}}.jpg" class="channel-pic" alt=""/>
        <button class="button button-positive float-right" ng-click="bingChannel(channelName)" ng-disabled="disableBtn">
            <i class="icon ion-android-add"></i>
        </button>
        </div>
        <div ng-repeat="msg in messageList">
            <section class="module">

                <ol class="discussion">
                    <li   class="other">
                        <div class="avatar">
                            <img src="img/ionic.png" />
                        </div>
                        <div class="messages">
                            <p>{{msg}}</p>
                            <time>{{time | date : format : short}}</time>
                        </div>
                    </li>
                    <li   class="self">
                        <div class="avatar">
                            <img src="img/ionic.png" />
                        </div>
                        <div class="messages">
                            <p>{{msg}}</p>
                            <time>{{time | date : format : short}}</time>
                        </div>
                    </li>

                </ol>

            </section>
        </div>

        <form ng-submit="addMsg()">
            <input type="text" ng-model="newMsg.msg" placeholder="type msg heres"/>
            <input class="button button-small button-positive" type="submit" value="Send" />
        </form>


    </ion-content>
</ion-view>




