* {margin: 0; padding: 0;}

/*div {*/
    /*margin: 20px;*/
/*}*/

ul {
    list-style-type: none;


}

h3 {
    font: bold 22px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
    float: left;
    margin: 0 15px 0 0;
}

li p {
    font: 200 15px/1.5 Georgia, Times New Roman, serif;

}

li {
    padding: 10px;
    overflow: auto;
    /*background-color: lightcyan;*/
    margin: 10px;


}

/*li:hover {*/
    /*background: #eee;*/
    /*cursor: pointer;*/
/*}*/
@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
    font-family: 'Typicons', sans-serif;
}

.module {
    /*width: 300px;*/
    margin: 20px auto;
}

.top-bar {
    background: #666;
    color: white;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
}
.top-bar h1 {
    display: inline;
    font-size: 1.1rem;
}
.top-bar .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
}
.top-bar .typicons-minus {
    position: relative;
    top: 3px;
}
.top-bar .left {
    float: left;
}
.top-bar .right {
    float: right;
    padding-top: 5px;
}
.top-bar > * {
    position: relative;
}
.top-bar::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(#ffffff, #000000);
    animation: pulse 1s ease alternate infinite;
}

.discussion {
    list-style: none;
    /*background: #e5e5e5;*/
    margin: 0;
    /*padding: 0 0 50px 0;*/
}
.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.discussion .avatar {
    width: 40px;
    position: relative;
}
.discussion .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
}
.messages time {
    font-size: 0.7rem;
    color: #ccc;
}



input[type=text], textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.icon-color{
    color: #145fd7;;
}

.chat-img{
    border-radius: 30px;
    height: 20%;
    width: 20%;
}