<ion-view title="watching channnel {{channelName}}">
    <ion-content class="padding">
        <div>
            <img src="img/{{channelName}}.jpg" class="channel-pic" alt=""/>
        <button class="button button-positive float-right" ng-click="bingChannel(channelName)" ng-disabled="disableBtn">
            <i class="icon ion-android-add"></i>
        </button>
        </div>
        <ul ng-repeat="msg in messageList">
            <li>{{msg}}</li>
        </ul>

        <form ng-submit="addMsg()">
            <input ng-model="newMsg.msg" placeholder="type msg heres"/>
            <input type="submit" value="Send" />
        </form>


    </ion-content>
</ion-view>