<ion-view title="list of channels">

    <ion-content class="padding">
        <h4>Welcome, {{user().displayName}} <img ng-src="{{user().thirdPartyUserData.picture.data.url}}"/></h4>
        <div class="list" ng-repeat="channel in channels">
            <div class="item item-avatar">
                <div class="button-bar btn-position-center margin">
                    <a ng-click="joinroom({newRoom:channel.name, oldRoom:'lobby'})">
                        <img src="img/{{channel.name}}.jpg" class="channel-pic"  alt=""/>
                    </a>
                    <a class="button button-balanced rounded" ng-click="listenToChannel(channel)" ng-disabled="listening(channel)">
                        <i class="icon ion-android-checkmark"></i>
                    </a>
                    <a class="button button-assertive rounded" ng-click="dontListenToChannel(channel)" ng-disabled="!listening(channel)">
                        <i class="icon ion-android-close"></i>
                    </a>
                    <a class="button button-positive rounded" ng-click="bingChannel(channel.name)" ng-disabled="disableBtn">
                        <i class="icon ion-android-add"></i>
                    </a>
                </div>
            </div>

              </div>
        </div>



    </ion-content>
</ion-view>