.danger-low{
    background-color: green;
}

.danger-med{
    background-color: yellow;
}

.danger-high{
    background-color: red;
}

input[type="text"].text-box{
    border:  1px solid gray;
    width: 30%;
    margin-bottom: 10px ;

}

input[type=text], textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.float-right{
    float: right;
}

.decrease-width{
    width:70%;
}

.remove-border-padding{
    border:none;
    padding: 0px;
}

.btn-position-center{
    margin-top: 0px;
}
